.DS_STORE
*.vs*
*.vcxproj.user
*.vcxproj.filters
*.pdb
*.idb
*.tlog
*.log
*.obj
*.ilk
*.exe
*.dat
*.prp
*.lock~
*.lock
*.gpr
*.vcxproj
*.sln
*.idea
*.cmake
*.check_cache
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeCache.txt
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_C.bin
*.bin
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/clion-environment.txt
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/clion-log.txt
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/Makefile2
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/progress.marks
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/Quiet-Knight.dir/build.make
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/Quiet-Knight.dir/C.includecache
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/Quiet-Knight.dir/depend.internal
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/Quiet-Knight.dir/depend.make
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/Quiet-Knight.dir/flags.make
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/Quiet-Knight.dir/embed.manifest
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/Quiet-Knight.dir/intermediate.manifest
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/Quiet-Knight.dir/manifest.rc
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/Quiet-Knight.dir/manifest.res
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/Quiet-Knight.dir/progress.make
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/Quiet-Knight.dir/objects1.rsp
Windows_Implant/Quiet-Knight/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Windows_Implant/Quiet-Knight/cmake-build-debug/Makefile
Windows_Implant/Quiet-Knight/cmake-build-debug/Quiet-Knight.cbp
